.main {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.hide {
  display: none;
}

.gray-cover {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: -10px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* || NAVBAR */

.navbar {
  height: 7vh;
  width: 100%;
  display: flex;
}

.navbar__logo {
  width: 50%;
}

.logo {
  width: 65px;
  height: 40px;
  background-image: url(/resources/logo.svg);
}

.navbar__menu {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}

.menu__links {
  display: none;
}

.menu__icon {
  background-image: url(/resources/icon-menu.svg);
  height: 19px;
  width: 30px;
}

.navbar__sideBar {
  background-color: white;
  height: 100vh;
  padding: 30px 20px;
  position: fixed;
  right: 0px;
  top: 0;
  width: 250px;
  z-index: 5;
}

.navbar__sideBar-close {
  display: flex;
  justify-content: end;
}

.sideBar-close__icon {
  width: 25px;
  height: 25px;
}
.navbar__sideBar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 40px;
}

/* || HEADER */
.desktop-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__header-image {
  background-image: url(/resources/image-web-3-mobile.jpg);
  background-size: cover;
  height: 300px;
  width: 100%;
}

.web-article__title {
  /* width: 10ch; */
  min-width: 5ch;
  font-size: 2.5rem;
  font-weight: 800;
}

.header__web-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.web-article__container-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.web-article__description {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}

.btnReadMore {
  background-color: #f15d51;
  color: white;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
}

/* || NEWS  */

.news {
  background-color: #00001a;
  padding: 20px;
}

.main__news-news {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news__title {
  color: hsl(35, 77%, 62%);
  font-weight: bold;
}

.news__new {
  color: white;
  margin-top: 10px;
}

.new__title {
  font-weight: bold;
}

.new__content {
  color: white;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

/* ||ARTICLE */

.article {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article__techNews {
  display: flex;
}

.techNews__image-container {
  width: 30%;
}

.image-container--techNews {
  width: 100%;
}

.techNews__techNews-articles {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
}

.techNews-articles__id {
  color: #c4c3c8;
  font-size: 1.6rem;
  font-weight: bold;
}

.techNews-articles__title {
  font-weight: bolder;
}

.techNews-articles__description {
  color: hsl(236, 13%, 42%);
}

/* || MEDIA QUERYS */

@media (min-width: 1023px) {
  .main {
    padding: 30px 130px;
  }
  .header {
    width: 80%;
  }

  .news {
    width: 35%;
    height: 40%;
  }

  .logo {
    width: 64px;
    background-size: cover;
  }

  .menu__links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

  .menu__link a {
    text-decoration: none;
    color: #bcbabf;
  }

  .menu__icon {
    display: none;
  }

  .desktop-top {
    flex-direction: row;
  }

  .header__header-image {
    background-image: url(/resources/image-web-3-desktop.jpg);
    height: 200px;
  }

  .header__web-article {
    display: flex;
    flex-direction: initial;
  }
  .web-article__container-left {
    width: 45%;
  }

  .web-article__container-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
  }

  .desktop-top {
    display: flex;
    gap: 30px;
  }

  .desktop-bottom {
    display: flex;
  }

  .article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
